    @font-face {
        font-family: 'Visby';
        font-weight: 100;
        src: url('../../../assets/fonts/fontspring-demo-visbycf-thin-webfont.woff2') format('woff2'), url('../../../assets/fonts/fontspring-demo-visbycf-thin-webfont.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Visby';
        font-weight: 300;
        src: url('../../../assets/fonts/fontspring-demo-visbycf-light-webfont.woff2') format('woff2'), url('../../../assets/fonts/fontspring-demo-visbycf-light-webfont.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Visby';
        font-weight: 400;
        src: url('../../../assets/fonts/fontspring-demo-visbycf-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/fontspring-demo-visbycf-regular-webfont.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Visby';
        font-weight: 700;
        src: url('../../../assets/fonts/fontspring-demo-visbycf-bold-webfont.woff2') format('woff2'), url('../../../assets/fonts/fontspring-demo-visbycf-bold-webfont.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Visby';
        font-weight: 900;
        src: url('../../../assets/fonts/fontspring-demo-visbycf-extrabold-webfont.woff2') format('woff2'), url('../../../assets/fonts/fontspring-demo-visbycf-extrabold-webfont.woff') format('woff');
    }